body {
    height: 100vh;
    width: 100vh;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(153, 197, 196);
    
    display: flex;
    place-items: center;
}

p {
    margin: 4em;
    color: white;
}

h1 {
    margin: 4em;
    color: white;
}

h2 {
    margin: 4em;
    color: white;
}

.blogdiv {
    height: 25%;
    overflow: hidden;
    overflow-y: scroll;
}